<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div id="addPercentageGroup" class="form-group">
        <%= f.label :name, :class => 'control-label focusOnShow' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="addPercentageGroup" class="form-group">
        <%= f.label :designation, :class => 'control-label focusOnShow' %>
        <%= f.text_field :designation, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="addPercentageGroup" class="form-group">
        <%= f.label :joining_date, :class => 'control-label focusOnShow' %>
        <%= f.text_field :joining_date, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="addPercentageGroup" class="form-group">
        <%= f.label :previous_job_exp,'Previous Job Experience (In years)' , :class => 'control-label focusOnShow' %>
        <%= f.text_field :previous_job_exp, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions clearfix">
    <% unless @developer.new_record? %>
      <div class="pull-left">
        <%= link_to 'Show', @developer %> |
      </div>
  <%end%>
    <%= link_to 'Back', developers_path %>
    <%= f.submit nil, :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $("#developer_joining_date").datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>