<h1>Developer Engagement Report on Date <b><%= @filter_date.present? ? @filter_date : 'Empty select date' %></b></h1>
<br/>

<div>
  <form path="<%= engagement_report_developers_path %>">
  <input type='text' placeholder='select date' id='date-selector' name="filter_date" value="<%= @filter_date.present? ? @filter_date : '' %>" >
  <span>
    <button type="submit" class="filter-date" id="submit-filter-date">Filter</button>
  </span>
  </form>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="padding-bottom: 28px">Name</th>
    <th >Experience in </br>
      Nascenia(years)</th>
    <th>Previous </br>
      Experience(years)</th>
    <th> Total </br>
      Experience(years)</th>
    <th style="padding-bottom: 28px"> Project Count</th>
    <th style="padding-bottom: 28px"> Assigned Project</th>
  </tr>
  </thead>

  <tbody class="sortable">
  <% @developers.each do |developer| %>
      <% active_projects = ProjectTeam.by_developer_and_date(developer.id, @filter_date).order('status_date desc') %>
      <tr developer="<%= developer.id %>" >

        <td><%= developer.name %></td>
        <td><%= developer.company_tenure %></td>
        <td><%= developer.previous_job_exp %></td>
        <td><%= developer.total_experience %></td>
        <td><%= active_projects.count %></td>
        <td>
          <ul class="token-input-list-facebook ">
            <% active_projects.each  do |project_team| %>
                <li class="token-input-token-facebook" >
                  <p> <%= project_team.project.name %> <%= project_team.participation_percentage %></p>
                </li>
            <% end %>
          </ul>

        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination_table">
  <%= will_paginate @developers, renderer: BootstrapPagination::Rails %>
</div>
<br>
<script>
  $(function(){
      $("#date-selector").datepicker({
          dateFormat: 'yy-mm-dd'
      });
  });
</script>

