<div class="panel panel-info" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading" style="font-size: 18px">Developers List</div>
</div>
<% if can? :create, @developers %>
    <%= link_to 'New Developer', new_developer_path, :class => 'btn btn-primary' %>
    <%= link_to 'Developer Engagement Report ', engagement_report_developers_path, :class => 'btn btn-primary' %>
    <% if params[:all].present? && params[:all] == 'true' %>
      <%= link_to 'Active Developers', developers_path, :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to 'All Developers', developers_path(all: true), :class => 'btn btn-primary' %>
    <% end %>
<% end %>
<br/>
<br/>
<div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Developer Name</th>
        <th>Designation</th>
        <th>Joining date</th>
        <th>Previous job experience</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @developers.each do |developer| %>
        <tr>
          <td><%= link_to developer.name, developer %> <%= developer.active? ? ' ' : '(Inactive)' %></td>
          <td><%= developer.designation %></td>
          <td><%= developer.joining_date %></td>
          <td><%= developer.previous_job_exp %></td>
          <% if can? :update, developer %>
          <td>
            <span><%= link_to 'Edit', edit_developer_path(developer), html_options = { class: 'label label-primary'} %></span>
            <span style="margin: 10px">&nbsp;</span>
            <span><%= link_to 'Delete', developer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-danger' %></span>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="space"></div>
<%# Adding Dropdown to take input for results per page %>

<div class="results_per_page">
  <%= render 'layouts/results_per_page_dropdown' %>
</div>

<div class="pagination_table">
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails  %>
</div>
<br>


