<%= form_for([@project, @project_time_sheet]) do |f| %>
    <% if @project_time_sheet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_time_sheet.errors.count, "error") %> prohibited this project_time_sheet from being saved:</h2>

          <ul>
            <% @project_time_sheet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :project_id %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="addPercentageGroup" class="form-group">
          <%= f.label :Title %><br>
          <%= f.text_field :Title %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="addPercentageGroup" class="form-group">
          <%= f.label :Description %><br>
          <%= f.text_area :Description, html_options = { } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="addPercentageGroup" class="form-group">
          <%= f.label :Link %><br>
          <%= f.text_field :Link %>
        </div>
      </div>
    </div>
    <div class="actions clearfix">
      <%= f.submit @project_time_sheet.new_record? ? 'Create Project Time Sheet': 'Update Project Time Sheet',:class => 'btn btn-success pull-right'%>
      <%= link_to 'back', project_project_time_sheets_path(project_id: @project.id) %>
    </div>
<% end %>
