<div class="panel panel-info">
  <div class="panel-heading" style="font-size: 22px">Time Sheets for Project: <b><%= @project.name %></b></div>
</div>
<% if can? :create, @project %>
    <%= link_to 'Add time sheet', new_project_project_time_sheet_path, html_options = { class: 'btn btn-success' } %>
<% end %>
<br/>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description </th>
      <th>Time Sheet Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @project_time_sheets.each do |project_time_sheet| %>
      <tr>
        <td><%= project_time_sheet.Title %></td>
        <td><%= project_time_sheet.Description %></td>
        <td ><%= link_to 'Link', project_time_sheet.Link, target: '_blank' %></td>
        <td><%= link_to 'Show', project_project_time_sheet_path(id: project_time_sheet.id) %></td>
        <% if can? :update, project_time_sheet %>
        <td><%= link_to 'Edit',edit_project_project_time_sheet_path(id: project_time_sheet.id) %></td>
        <% end %>

        <% if can? :update, project_time_sheet %>
        <td><%= link_to 'Destroy', project_project_time_sheet_path(id: project_time_sheet.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
            </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'back', projects_path %>
<div class="pagination_table">
  <%= will_paginate @project_time_sheets, renderer: BootstrapPagination::Rails %>
</div>


