<h1>Project Time Sheet</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description </th>
      <th>Time Sheet Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_time_sheets.each do |project_time_sheet| %>
      <tr>
        <td><%= project_time_sheet.Title %></td>
        <td><%= project_time_sheet.Description %></td>
        <td><%= project_time_sheet.Link %></td>
        <td><%= link_to 'Show', project_time_sheet %></td>
        <td><%= link_to 'Edit', edit_project_time_sheet_path(project_time_sheet) %></td>
        <td><%= link_to 'Destroy', project_time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project time sheet', new_project_time_sheet_path %>
