<div class="panel panel-info create-new-project">
  <div class="panel-heading">Time Sheet for project <b><%= @project.name %></b></div>
  <div class="panel-body">


<p>
  <strong>Title:</strong>
  <%= @project_time_sheet.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_time_sheet.Description %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to  @project_time_sheet.Link, @project_time_sheet.Link, target: '_blank' %>
</p>
<% if can? :update, @project_time_sheet %>
    <%= link_to 'Edit', edit_project_project_time_sheet_path(id: @project_time_sheet) %> |
<% end %>

<%= link_to 'Back', project_project_time_sheets_path %>
  </div>
</div>
