<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_time_sheet.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_time_sheet.Description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project_time_sheet.Link %>
</p>

<%= link_to 'Edit', edit_project_time_sheet_path(@project_time_sheet) %> |
<%= link_to 'Back', project_time_sheets_path %>
