<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag('nascenia.png', :class => 'main-logo') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
          <ul class="nav nav-tabs navbar-right" style="border: none">
            <li>
              <h5 style="margin-top: 15px; margin-right: 15px"> Signed in as: <b><%= current_user.email %></b> </h5>
            </li>
            <% if current_user.super_admin? %>
                <li>
                  <%= link_to 'Manage Admin', manage_admin_and_users_list_admins_path %>
                </li>
            <% end %>
            <li>
              <%= link_to 'Team assignments', project_assign_path %>
            </li>
            <li>
              <%= link_to 'Projects', projects_path %>
            </li>
            <li>
              <%= link_to 'Developer', developers_path %>
            </li>
            <li>
              <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
      <% else %>
          <li>
            <%= link_to 'Log In', new_user_session_path, :method => :get %>
          </li>
      <% end %>



    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>