<table class="table table-striped">
  <thead>
  <tr>
    <th>Developer Name</th>
    <th>Action</th>
    <th>Participation Percentage</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody class="sortable">
  <% @project_teams.each do |project_team| %>
      <%
         if project_team.status == 0
           status = 'Remove'
           design = 'label label-danger'
         elsif project_team.status == 1
           status = 'Assign'
           design = 'label label-success'
         else
           status = 'Re-assign'
           design = 'label label-primary'
         end
      %>
      <tr project="<%= project_team.id %>" >
        <td><%= project_team.developer.name %></td>
        <td><span class="<%= design %>"><%= status %></span></td>
        <td><%= project_team.participation_percentage.to_s + '%' %></td>
        <td><%= project_team.status_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="pagination_table">
  <%= will_paginate @project_teams, renderer: BootstrapPagination::Rails, :param_name => 'assignment_page', :params => { :tab_name => "assignment_activity" } %>
</div>