<%# Here need a local variable projects %>
<% projects = [] unless projects.present? %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Project Name</th>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <!--<tbody class="sortable projects_table">-->
  <tbody class="<%= (current_user.super_admin? || current_user.admin?) ? 'sortable projects_table' : '' %> ">
  <% projects.each_with_index do |project, index| %>
      <tr project_id="<%= project.id %>" class="<%= project.active? ? 'active-project' : 'inactive-project' %>" >
        <td><%= link_to project.name, project %> <%= project.active? ? ' ' : '(Inactive)' %></td>
        <td><%= project.title %></td>
        <td><%= truncate(project.description) %></td>
        <td >
          <% if can? :update, project %>
              <span><%= link_to 'Edit', edit_project_path(project), html_options = { class: 'label label-primary'} %></span>
          <% end %>
          <span><%= link_to 'Team Activity', team_activity_project_url(project.id), class: 'label label-success' %></span>
          <span><%= link_to 'Time Sheet', project_project_time_sheets_path(project_id: project.id ), class: 'label label-success' %> </span>
          <span style="margin: 10px">&nbsp;</span>
          <% if can? :delete, project%>
              <span><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' },  class: 'label label-danger'%></span>
          <% end %>
          <span style="margin: 5px">&nbsp;</span>
          <% if can? :update, project %>
              <% if project.active? %>
                  <span class="up_arrow" data-all="<%= params[:all].present? ? 'true' : 'false' %>" ><%= image_tag('up_arrow.png', size: "16") %></span>
                  <span class="down_arrow" data-all="<%= params[:all].present? ? 'true' : 'false' %>" ><%= image_tag('down_arrow.png', size: "16") %></span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%# Adding dropdown for results per page selection %>
<%= render 'layouts/results_per_page_dropdown' %>


<div class="pagination_table">
  <%= will_paginate projects, renderer: BootstrapPagination::Rails if projects.present? %>
</div>

<br>

<script type="text/javascript">
    $(document).ready(function(){

        <% if projects.present? && @last_page == projects.current_page %>
            $(".active-project:last .down_arrow").remove();
        <% end %>
        <% if ( params[:page].nil? || params[:page] == '1' )  %>
            $(".active-project:first .up_arrow").remove();
        <% end %>

        $(".projects_table").sortable({
            items: 'tr.active-project',
            stop: function() {
                var project_ids =  $(this).sortable('toArray', { attribute: 'project_id' });
                var page_number = <%= params[:page].present? ? params[:page] : 1 %>;

                $.ajax({
                    url: "/projects/update_table_priority",
                    type: 'post',
                    dataType: 'script',
                    data: {
                        project_ids: project_ids,
                        page_number: page_number,
                        all: <%= params[:all].present? && params[:all] == 'true' %>
                    }
                });
            }
        });

        $('.up_arrow').on('click', function(){
            var project_id = $(this).closest('tr').attr('project_id');
            var page_number = <%= params[:page].present? ? params[:page] : 1 %>;
            $.ajax({
                url: "<%= project_table_row_up_projects_path %>",
                type: 'post',
                dataType: 'script',
                data: {
                    id: project_id,
                    page: page_number,
                    all: <%= params[:all].present? && params[:all] == 'true' %>
                }
            });
        });

        $('.down_arrow').on('click', function(){
            var project_id = $(this).closest('tr').attr('project_id');
            var page_number = <%= params[:page].present? ? params[:page] : 1 %>;
            $.ajax({
                url: "<%= project_table_row_down_projects_path %>",
                type: 'post',
                dataType: 'script',
                data: {
                    id: project_id,
                    page: page_number,
                    all: <%= params[:all].present? && params[:all] == 'true' %>
                }
            });
        });
    });
      </script>
