<div class="panel panel-info">
  <div class="panel-heading">
    <h3 style="font-size: 18px; margin: 0;">Assign Developers to Project</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Projects</th>
        <th>Developers</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td class="col-md-2"><%= link_to project.name, project %> </td>
            <td class="col-md-8">
              <ul class="token-input-list-facebook " style="font-family: arial, sans-serif">
                <% ProjectTeam.project_recent_data(project.id).each do |team| %>
                    <li class="token-input-token-facebook" id="dev-<%= team.developer.id %>">
                      <p class="<%= team.developer.current_work_load > 100 ? 'text-warning text-medium' : 'text-medium' %> <%= team.developer.active ? '' : 'inactive-user'%>"> <%= team.developer.name %> <%= team.participation_percentage.to_i %>% </p>
                      <% if can? :create, :team %>
                          <% if team.developer.active %>
                              <span class="token-input-delete-token-facebook edit-developer" data-project-id="<%= project.id %>" data-dev-id="<%= team.developer.id %>">Edit</span>
                          <% end %>
                          <span class="token-input-delete-token-facebook remove-developer" data-project-id="<%= project.id %>" data-dev-id="<%= team.developer.id %>" data-developer-name="<%= team.developer.name %>" data-project-name="<%= project.name %>">×</span>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </td>
            <% if can? :create, :team %>
                <td class="col-md-2">
                  <div class="panelTitleLinkContainer">
                    <a class="actionLink pro-<%= project.id %>" href="javascript:void(0)" onclick="showAddDeveloperDialog(<%= project.id %>);"><span class="glyphicon glyphicon-plus"></span>
                      Add Developer</a></div>
                </td>
            <% end %>

          </tr>
      <% end %>
      </tbody>
    </table>

    <%# Adding Dropdown to take input for results per page %>
    <%= render 'layouts/results_per_page_dropdown' %>

    <div class="pagination_table">
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<div id="addDeveloperDialog" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Developer Information</h4>
      </div>
      <div class="modal-body tabIndexContainer">
        <%= form_tag "projects/create_project_team", method: :post, id: "createTeamForm" do |f| %>
            <div class="hidden"><%= hidden_field_tag :project_id, '' %></div>
            <div class="hidden"><%= hidden_field_tag :page, params[:page] %></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="addDeveloperId" class="control-label">Developer Name</label>
                  <select class="form-control" id="addDeveloperId" name="developer_id">
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div id="addPercentageGroup" class="form-group">
                  <label for="addPercentage" class="control-label focusOnShow">Participation Percentage</label>
                  <input type="text" class="form-control" id="addPercentage" name="participation_percentage" placeholder="Enter participation value" value="100">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="addStartDate" class="control-label">Start Date</label>
                  <input type="text" id="addStartDate" class="form-control" id="addStartDate" name="status_date" placeholder="Enter Start Date" value="<%= Time.now.strftime("%Y-%m-%d") %>">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success" onclick="createTeam()">
                Add
              </button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- date input modal during dev removing-->
<div id="add-remove-date" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="remove-developer-modal-title"></h4>
      </div>
      <div class="modal-body tabIndexContainer">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="addStartDate" class="control-label">Remove Date</label>
              <input type="text" id="remove-date" class="form-control" id="add-removal-date" name="status_date" placeholder="Enter Remove Date" value="<%= Time.now.strftime("%Y-%m-%d") %>">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="submit-remove-date" type="button" class="btn btn-danger">
            Remove
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!--end-->

<div id="edit_developers_percentage" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Developer Percentage </h4>
      </div>

      <div class="edited_developer_project_id" value=""></div>
      <div class="edited_developer_id" value=""></div>
      <div class="previous_percentage" value=""></div>

      <div class="modal-body tabIndexContainer">
        <div class="row">
          <div class="col-md-6">
            <div id="editPercentageGroup" class="form-group">
              <label for="editPercentage" class="control-label focusOnShow">Participation Percentage Change</label>
              <input type="text" class="form-control" id="editPercentage" name="participation_percentage" placeholder="Enter participation value" value="0">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="editStartDate" class="control-label">Start Date</label>
              <input type="text" class="form-control" id="editStartDate" name="editStartDate" placeholder="Enter Start Date" value="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="submit-edit-percentage" type="button" class="btn btn-success">
            Change
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<h1><%= link_to 'Download Project Activity', export_path(format: :csv), :class => 'btn btn-info' %>
</h1>


<script type="text/javascript">
    $(function () {
        $("#addStartDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#remove-date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $("#editStartDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('.remove-developer').click(function () {
            $('.remove-developer-modal-title').html('Are you sure to <span class="text-danger"> remove</span> ' + $(this).data('developer-name') + ' from ' + $(this).data('project-name') + '?');
            $("#add-remove-date").modal('show');
            var element = $(this);
            var devId = element.data('dev-id');
            var projectId = element.data('project-id');

            $('#submit-remove-date').click(function () {
                var remove_date = $('#remove-date').val();
                $.ajax({
                    url: "/developers/" + devId + "/unassign",
                    type: 'post',
                    dataType: 'json',
                    data: {project_id: projectId, date: remove_date},
                    success: function (res) {
                        $("#add-remove-date").modal('hide');
                        if (res.status) {
                            window.location.href = '<%= project_assign_path %>';
                        }
                    }
                });
            });

        });

        $(document).on('click', '.edit-developer', function () {
            var element = $(this);
            var dev_id = element.attr('data-dev-id');
            $.ajax({
                url: "/developers/" + dev_id + "/edit_developers_percentage",
                type: 'get',
                dataType: 'script',
                data: {project_id: element.attr('data-project-id'), dev_id: dev_id}
            });

        });

        $(document).on('click', '#submit-edit-percentage', function () {
            var developer_percentage = $('#editPercentage').val();
            var project_id = $('.edited_developer_project_id').val();
            var dev_id = $('.edited_developer_id').val();
            var edit_date = $('#editStartDate').val();
            var previous_percentage = $('.previous_percentage').val();
            $("#edit_developers_percentage").modal('hide');
            $.ajax({
                url: "/projects/update_developers_percentage",
                type: 'post',
                dataType: 'script',
                data: {
                    id: project_id,
                    developer_percentage: developer_percentage,
                    dev_id: dev_id,
                    edit_date: edit_date,
                    previous_percentage: previous_percentage
                }
            });

        });

    });
</script>