<div class="panel panel-info">
  <div class="panel-heading">
    <h1 style="font-size: 20px; margin: 0;">Assign developers to Project</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Project</th>
        <th>Developers</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project %> </td>
            <td>
              <ul class="token-input-list-facebook ">
                <% project.show_current_team.each do |team| %>
                    <li class="token-input-token-facebook" id="dev-<%= team.developer.id %>">
                      <p> <%= team.developer.name %> <%= team.participation_percentage %>% </p>
                      <span class="token-input-delete-token-facebook edit-developer" data-project-id="<%= project.id %>" data-dev-id="<%= team.developer.id %>">Edit</span>
                      <span class="token-input-delete-token-facebook remove-developer" data-project-id="<%= project.id %>" data-dev-id="<%= team.developer.id %>" data-developer-name = "<%= team.developer.name %>" data-project-name = "<%= project.title %>">×</span>
                    </li>
                <% end %>
              </ul>
            </td>
            <td>
              <div class="panelTitleLinkContainer">
                <a class="actionLink pro-<%= project.id %>" href="javascript:void(0)" onclick="showAddDeveloperDialog(<%= project.id %>);"><span class="glyphicon glyphicon-plus"></span>
                  Add Developer</a></div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pagination_table">
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    </div>
    <%= link_to 'Download Project Activity', export_path(format: :csv), :class => 'btn btn-info pull-right' %>
  </div>
</div>

<div id="addDeveloperDialog" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Developer Information</h4>
      </div>
      <div class="modal-body tabIndexContainer">
        <%= form_tag "projects/create_project_team", method: :post, id: "createTeamForm" do |f| %>
            <div class="hidden"><%= hidden_field_tag :project_id, '' %></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="addDeveloperId" class="control-label">Developer Name</label>
                  <select class="form-control" id="addDeveloperId" name="developer_id">
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div id="addPercentageGroup" class="form-group">
                  <label for="addPercentage" class="control-label focusOnShow">Participation Percentage</label>
                  <input type="text" class="form-control" id="addPercentage" name="participation_percentage" placeholder="Enter participation value" value="100">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="addStartDate" class="control-label">Start Date</label>
                  <input type="text" id="addStartDate" class="form-control" id="addStartDate" name="status_date" placeholder="Enter Start Date" value="<%= Time.now.strftime("%Y-%m-%d") %>">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

              <button type="button" class="btn btn-success" onclick="createTeam()">
                <i class="glyphicon glyphicon-floppy-saved"></i> Add
              </button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- date input modal during dev removing-->
<div id="add-remove-date" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="remove-developer-modal-title"></h4>
      </div>
      <div class="modal-body tabIndexContainer">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="addStartDate" class="control-label">Remove Date</label>
              <input type="text" id="remove-date" class="form-control" id="add-removal-date" name="status_date" placeholder="Enter Remove Date" value="<%= Time.now.strftime("%Y-%m-%d") %>">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

          <button id="submit-remove-date" type="button" class="btn btn-success" >
            <i class="glyphicon glyphicon-floppy-saved"></i> Submit
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!--end-->

<div id="edit_developers_percentage" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Developer Percentage </h4>
      </div>
      <div class="edited_developer_project_id" value=""></div>
      <div class="edited_developer_id" value=""></div>
      <div class="modal-body tabIndexContainer">
        <div class="row">
          <div class="col-md-6">
            <div id="editPercentageGroup" class="form-group">
              <label for="editPercentage" class="control-label focusOnShow">Participation Percentage Change</label>
              <input type="text" class="form-control" id="editPercentage" name="participation_percentage" placeholder="Enter participation value" value="0">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

          <button id="submit-edit-percentage" type="button" class="btn btn-success" >
            <i class="glyphicon glyphicon-floppy-saved"></i> Change
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#addStartDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#remove-date").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('.remove-developer').click(function () {
            $('.remove-developer-modal-title').html('Remove ' + $(this).data('developer-name') + ' from ' + $(this).data('project-name'));
            $("#add-remove-date").modal('show');
            var element = $(this);
            var devId = element.data('dev-id');
            var projectId = element.data('project-id');

            $('#submit-remove-date').click(function(){
                var remove_date = $('#remove-date').val();
                $.ajax({
                    url: "/developers/" + devId + "/unassign",
                    type: 'post',
                    dataType: 'json',
                    data: { project_id: projectId, date: remove_date },
                    success: function (res) {
                        $("#add-remove-date").modal('hide');
                        if (res.status ) {
                            $('#dev-' + res.status ).remove();
                        }
                    }
                });
            });

        });

       $(document).on('click', '.edit-developer', function(){
            var element = $(this);
            var dev_id = element.attr('data-dev-id');
            $.ajax({
                url: "/developers/" + dev_id + "/edit_developers_percentage",
                type: 'get',
                dataType: 'script',
                data: {project_id: element.attr('data-project-id'), dev_id: dev_id}
            });

        });

        $(document).on('click', '#submit-edit-percentage', function(){
            var developer_percentage = $('#editPercentage').val();
            var project_id = $('.edited_developer_project_id').val();
            var dev_id = $('.edited_developer_id').val();
            $("#edit_developers_percentage").modal('hide');
            $.ajax({
                url: "/projects/update_developers_percentage" ,
                type: 'post',
                dataType: 'script',
                data: {id: project_id, developer_percentage: developer_percentage, dev_id: dev_id}
            });

        });

    });
</script>