<html>
<head>
  <title>Nascenia</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'custom.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.png' %>
</head>

<body>
<div class="container default">
  <%= render 'shared/main_nav' %>

  <div class="col-md-12" >
    <div class="text-warning">
      <%= raw flash_message %>
    </div>

    <%= yield %>
  </div>
  </div>
</div>


</body>
</html>